<img src="images/CP.png" width="1000">
<h1>CP 2077 - Knowsoft Character Builder</h1>
<h2>Ripper Doc - "Be the change you desire"</h2>
<h4>You can change your meat body here</h4><br>
<form method="POST" action="/characters/<%=@character.id%>/edit">
  <input type="hidden" value="PATCH" name="_method">
  <p>Name: <br>
  <input type="text" name="character[name]" value="<%=@character.name%>" required><br>
  <p>Hometown:<br>
  <input type="text" name="character[hometown]" value="<%=@character.hometown%>"><br>
  <p>Skill:<br>
  <input type="text" name="character[skill]" value="<%=@character.skill%>"><br>
  <p>Iconic Item:<br>
  <input type="text" name="character[iconic_item]" value="<%=@character.iconic_item%>"><br>
  <br>
  <input type="submit" value="Edit Clone">
</form>