<h1>CP 2077 - Knowsoft Character Bulder</h1>

<h2><%= @character.name %></h2>
<h3><p>Hometown: <%= @character.hometown %><p></h3>
<h3><p>Skill: <%= @character.skill %><p></h3>
<h3><p>Iconic Item: <%= @character.iconic_item %><p></h3>

<a href="/characters/<%= @character.id %>/edit">Ripper Doc "Be the CHANGE you desire, <%= @character.name %>"</a>

<!--DELETE-->
<form method="POST" action="/characters/<%=@character.id%>">
  <input type="hidden" value="DELETE" name="_method">
  <input type="submit" value="Delete">
</form>