<h1>CP 2077 - Knowsoft Character Builder</h1>
<h2><%= @character.name %></h2>
<h3><p>Hometown: <%= @character.hometown %><p></h3>
<h3><p>Skill: <%= @character.skill %><p></h3>
<h3><p>Iconic Item: <%= @character.iconic_item %><p></h3>
<h3><p>Cloned By: <%=@character.user.username%><p></h3>


<% if logged_in? && @character.user.username == current_user.username%>
<a href="/characters/<%= @character.id %>/edit">Alter Clone: <%= @character.name %></a>

<!--DELETE-->
<form method="POST" action="/characters/<%=@character.id%>">
  <input type="hidden" value="DELETE" name="_method">
  <input type="submit" value="Delete">
</form>
<%end%>
